.lead__title {
  max-width: 720px;
  max-height: 200px;
  margin: auto auto 32px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 650px) {
  .lead__title {
    max-width: 288px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    margin: auto auto 16px;
  }
}